# Joining Datasets

This notebook is for creating dataframes of text and non-text reviews that match up with scraped data from Beer Advocate.

The scraped data is comprised of ALL beers and breweries from the US; this is the basis of how I will be joining the reviews from datasets acquired from https://data.world.

First, I will start off loading in dependencies for manipulating data and interacting with the database that I have created

In [1]:
import pandas as pd
import os
import re
from sqlalchemy import create_engine

%matplotlib inline

Next, I will load in the datasets and connect to a local database that has scraped beer and brewery data

In [2]:
beer_reviews = pd.read_csv("../datasets/socialmediadata-beeradvocate/data/beer_reviews.csv")
beer_text_reviews = pd.read_csv("../datasets/petergensler-beer-advocate-reviews/BeerAdvocate-000.csv")

In [3]:
pg_pass = os.environ['PG_PASS']
engine = create_engine(f'postgresql://postgres:{pg_pass}@127.0.0.1:5432/craft_beer_development')

Running a test query to make sure that the database is connected

In [4]:
pd.read_sql("SELECT tablename FROM pg_catalog.pg_tables WHERE schemaname='public' LIMIT 5", con=engine)

         tablename
0  spatial_ref_sys
1    SequelizeMeta
2        Breweries
3           Styles
4            Beers

## Matching first set of Beer Reviews with scraped data

First, I will do some summary stats and take a look at a small fraction of the dataframe

In [5]:
beer_reviews.shape

(1586614, 13)

In [6]:
beer_reviews.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [7]:
beer_reviews.tail()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
1586609,14359,The Defiant Brewing Company,1162684892,5.0,4.0,3.5,maddogruss,Pumpkin Ale,4.0,4.0,The Horseman's Ale,5.2,33061
1586610,14359,The Defiant Brewing Company,1161048566,4.0,5.0,2.5,yelterdow,Pumpkin Ale,2.0,4.0,The Horseman's Ale,5.2,33061
1586611,14359,The Defiant Brewing Company,1160702513,4.5,3.5,3.0,TongoRad,Pumpkin Ale,3.5,4.0,The Horseman's Ale,5.2,33061
1586612,14359,The Defiant Brewing Company,1160023044,4.0,4.5,4.5,dherling,Pumpkin Ale,4.5,4.5,The Horseman's Ale,5.2,33061
1586613,14359,The Defiant Brewing Company,1160005319,5.0,4.5,4.5,cbl2,Pumpkin Ale,4.5,4.5,The Horseman's Ale,5.2,33061

Next, I want to find the reviews that have breweries that are present from my scraped data set

In [8]:
beer_review_breweries = beer_reviews[["brewery_name","brewery_id"]].drop_duplicates()

# https://stackoverflow.com/questions/29815129/pandas-dataframe-to-list-of-dictionaries
beer_review_breweries = beer_review_breweries.T.to_dict().values()

# https://stackoverflow.com/questions/283645/python-list-in-sql-query-as-parameter
beer_review_breweries_joined = ', '.join(["'" + str(br['brewery_name']).replace("'","''") + "'" for br in beer_review_breweries])
beer_review_beer_ids = [obj['brewery_id'] for obj in beer_review_breweries]
query = 'SELECT name as brewery_name, state, ba_link FROM "Breweries" WHERE name in (%s)' % beer_review_breweries_joined
links_from_ids = ', '.join([f"'https://www.beeradvocate.com/beer/profile/{bl}/'" for bl in beer_review_beer_ids])
query += ' AND ba_link in (%s)' % links_from_ids
results = pd.read_sql(query, con=engine)

In [9]:
results.head()

,brewery_name,state,ba_link
0,Arbor Brewing Company,Michigan,https://www.beeradvocate.com/beer/profile/1457/
1,Lake Superior Brewing,Michigan,https://www.beeradvocate.com/beer/profile/3146/
2,Leelanau Brewing Company,Michigan,https://www.beeradvocate.com/beer/profile/11974/
3,Liberty Street Brewing Company,Michigan,https://www.beeradvocate.com/beer/profile/19163/
4,Lily's Seafood & B.C.,Michigan,https://www.beeradvocate.com/beer/profile/3968/

In [10]:
results.shape

(1459, 3)

I want to convert the links into ID's and rename the "ba_link" column to "brewery_id"

In [11]:
results.ba_link = results.ba_link.map(lambda x: int(re.search(r'[0-9]+', x).group()))
results = results.rename(columns={"ba_link": "brewery_id"})
results.head()

                     brewery_name     state  brewery_id
0           Arbor Brewing Company  Michigan        1457
1           Lake Superior Brewing  Michigan        3146
2        Leelanau Brewing Company  Michigan       11974
3  Liberty Street Brewing Company  Michigan       19163
4           Lily's Seafood & B.C.  Michigan        3968

Now I have all of the **non-text** reviews that match up with the breweries and beers in my database.

In [12]:
matched_beer_reviews = beer_reviews.where(beer_reviews.brewery_id.isin(results.brewery_id.tolist())).dropna()
matched_beer_reviews.isnull().sum()

brewery_id            0
brewery_name          0
review_time           0
review_overall        0
review_aroma          0
review_appearance     0
review_profilename    0
beer_style            0
review_palate         0
review_taste          0
beer_name             0
beer_abv              0
beer_beerid           0
dtype: int64

In [13]:
matched_beer_reviews.shape

(817091, 13)

## Beer Text Reviews

I am going to perform the same types of operations as above, with a few minor differences

In [14]:
beer_text_reviews.isnull().sum()

beer_ABV              20280
beer_beerId               0
beer_brewerId             0
beer_name                 0
beer_style                0
review_appearance         0
review_aroma              0
review_overall            0
review_palate             0
review_profileName      115
review_taste              0
review_text             119
review_time               0
dtype: int64

In [15]:
beer_text_reviews.head()

,beer_ABV,beer_beerId,beer_brewerId,beer_name,beer_style,review_appearance,review_aroma,review_overall,review_palate,review_profileName,review_taste,review_text,review_time
0,5.0,47986,10325,Sausa Weizen,Hefeweizen,2.5,2.0,1.5,1.5,stcules,1.5,A lot of foam. But a lot. In the smell some ba...,1234817823
1,6.2,48213,10325,Red Moon,English Strong Ale,3.0,2.5,3.0,3.0,stcules,3.0,"Dark red color, light beige foam, average. In ...",1235915097
2,6.5,48215,10325,Black Horse Black Beer,Foreign / Export Stout,3.0,2.5,3.0,3.0,stcules,3.0,"Almost totally black. Beige foam, quite compac...",1235916604
3,5.0,47969,10325,Sausa Pils,German Pilsener,3.5,3.0,3.0,2.5,stcules,3.0,"Golden yellow color. White, compact foam, quit...",1234725145
4,7.7,64883,1075,Cauldron DIPA,American Double / Imperial IPA,4.0,4.5,4.0,4.0,johnmichaelsen,4.5,"According to the website, the style for the Ca...",1293735206

In [16]:
beer_text_reviews.tail()

,beer_ABV,beer_beerId,beer_brewerId,beer_name,beer_style,review_appearance,review_aroma,review_overall,review_palate,review_profileName,review_taste,review_text,review_time
528865,NaN,4032,3340,Dinkel Acker Dark,Munich Dunkel Lager,4.0,3.0,4.0,3.5,orangemoustache,4.0,"A-pours a reddish amber that looks very nice,l...",1205212721
528866,NaN,4032,3340,Dinkel Acker Dark,Munich Dunkel Lager,4.0,3.5,3.0,3.0,MisterStout,3.0,I don't really have anything special to say ab...,1203490783
528867,NaN,4032,3340,Dinkel Acker Dark,Munich Dunkel Lager,4.0,4.0,4.5,4.0,meechum,4.5,Had this on tap at Vreny's Beirgarten A - Came...,1201320897
528868,NaN,4032,3340,Dinkel Acker Dark,Munich Dunkel Lager,4.0,3.0,4.0,4.0,Dodo2step,4.5,"Purchased at Market Cross Pub in carlisle, PA....",1201215290
528869,NaN,4032,3340,Dinkel Acker Dark,Munich Dunkel Lager,4.0,4.0,4.0,4.0,jenbys2001,4.0,"I ordered a mug of this beer at Schnitzelhaus,...",1200336367

In [17]:
beer_text_review_breweries = beer_text_reviews["beer_brewerId"].drop_duplicates().tolist()

links_from_ids = ', '.join([f"'https://www.beeradvocate.com/beer/profile/{bl}/'" for bl in beer_text_review_breweries])

query = 'SELECT name as brewery_name, state, ba_link FROM "Breweries" WHERE ba_link in (%s)' % links_from_ids

results = pd.read_sql(query, con=engine)
results.head()

,brewery_name,state,ba_link
0,Arbor Brewing Company,Michigan,https://www.beeradvocate.com/beer/profile/1457/
1,Arbor Brewing Company Microbrewery,Michigan,https://www.beeradvocate.com/beer/profile/14034/
2,Atwater Brewery,Michigan,https://www.beeradvocate.com/beer/profile/15280/
3,Rochester Mills Beer Co.,Michigan,https://www.beeradvocate.com/beer/profile/2346/
4,Round Barn Brewery,Michigan,https://www.beeradvocate.com/beer/profile/11882/

In [18]:
results.ba_link = results.ba_link.map(lambda x: int(re.search(r'[0-9]+', x).group()))

In [19]:
results = results.rename(columns={"ba_link": "brewery_id"})

In [20]:
beer_text_reviews.beer_brewerId
matched_beer_text_reviews = beer_text_reviews.where(beer_text_reviews.beer_brewerId.isin(results.brewery_id.tolist())).dropna()
# https://stackoverflow.com/questions/29530232/how-to-check-if-any-value-is-nan-in-a-pandas-dataframe
matched_beer_text_reviews.isnull().sum()

beer_ABV              0
beer_beerId           0
beer_brewerId         0
beer_name             0
beer_style            0
review_appearance     0
review_aroma          0
review_overall        0
review_palate         0
review_profileName    0
review_taste          0
review_text           0
review_time           0
dtype: int64

In [21]:
matched_beer_text_reviews.shape

(358073, 13)

In [22]:
matched_beer_text_reviews.head()

,beer_ABV,beer_beerId,beer_brewerId,beer_name,beer_style,review_appearance,review_aroma,review_overall,review_palate,review_profileName,review_taste,review_text,review_time
4,7.7,64883.0,1075.0,Cauldron DIPA,American Double / Imperial IPA,4.0,4.5,4.0,4.0,johnmichaelsen,4.5,"According to the website, the style for the Ca...",1.293735e+09
5,4.7,52159.0,1075.0,Caldera Ginger Beer,Herbed / Spiced Beer,3.5,3.5,3.0,3.0,oline73,3.5,Poured from the bottle into a Chimay goblet. A...,1.325525e+09
6,4.7,52159.0,1075.0,Caldera Ginger Beer,Herbed / Spiced Beer,3.5,3.5,3.5,4.0,Reidrover,4.0,"22 oz bottle from ""Lifesource"" Salem. $3.95 Ni...",1.318991e+09
7,4.7,52159.0,1075.0,Caldera Ginger Beer,Herbed / Spiced Beer,3.5,2.5,3.0,2.0,alpinebryant,3.5,"Bottle says ""Malt beverage brewed with Ginger ...",1.306276e+09
8,4.7,52159.0,1075.0,Caldera Ginger Beer,Herbed / Spiced Beer,3.5,3.0,4.0,3.5,LordAdmNelson,4.0,I'm not sure why I picked this up... I like gi...,1.290455e+09

In [23]:
matched_beer_text_reviews.tail()

,beer_ABV,beer_beerId,beer_brewerId,beer_name,beer_style,review_appearance,review_aroma,review_overall,review_palate,review_profileName,review_taste,review_text,review_time
528749,5.5,38275.0,11492.0,Alaskan Summer Ale,American Blonde Ale,3.5,3.0,4.0,3.5,ThirstyHopHead,3.5,A: Poured a straw yellow color with a 1 finger...,1.224719e+09
528750,5.5,38275.0,11492.0,Alaskan Summer Ale,American Blonde Ale,4.0,3.5,3.5,3.5,RedDiamond,3.5,A relaxing summer ale with a soothing aroma of...,1.187584e+09
528758,4.5,24849.0,11492.0,Cream Ale,Cream Ale,3.0,3.0,3.0,3.0,Bookseeb,2.5,Appearance is a light golden with a thin head....,1.196475e+09
528759,4.5,24849.0,11492.0,Cream Ale,Cream Ale,3.0,3.0,3.0,3.5,RedDiamond,3.5,"Cream ales are gentle beers. Even so, this one...",1.187590e+09
528760,4.5,24849.0,11492.0,Cream Ale,Cream Ale,3.5,4.0,4.0,4.0,canucklehead,4.0,This is a really pale cream ale but the beer i...,1.121741e+09

# Final Merging of Datasets

What I am going to do is combine the two filtered dataframes above to deduplicate any data.

To do this, I must first make sure that there are the same number of columns, the columns have the same name, and that the columns are the same type.

In [24]:
print(matched_beer_text_reviews.columns)
print(matched_beer_reviews.columns)

Index(['beer_ABV', 'beer_beerId', 'beer_brewerId', 'beer_name', 'beer_style',
       'review_appearance', 'review_aroma', 'review_overall', 'review_palate',
       'review_profileName', 'review_taste', 'review_text', 'review_time'],
      dtype='object')
Index(['brewery_id', 'brewery_name', 'review_time', 'review_overall',
       'review_aroma', 'review_appearance', 'review_profilename', 'beer_style',
       'review_palate', 'review_taste', 'beer_name', 'beer_abv',
       'beer_beerid'],
      dtype='object')

In [25]:
matched_beer_reviews = matched_beer_reviews.assign(review_text="")

In [26]:
matched_beer_reviews.drop(columns=['brewery_name'], inplace=True)

In [27]:
matched_beer_text_reviews.rename(columns={
    'beer_ABV': 'beer_abv',
    'beer_beerId': 'beer_beerid',
    'beer_brewerId': 'brewery_id',
    'review_profileName': 'review_profilename'
}, inplace=True)

In [28]:
matched_beer_reviews.columns.sort_values()

Index(['beer_abv', 'beer_beerid', 'beer_name', 'beer_style', 'brewery_id',
       'review_appearance', 'review_aroma', 'review_overall', 'review_palate',
       'review_profilename', 'review_taste', 'review_text', 'review_time'],
      dtype='object')

In [29]:
matched_beer_text_reviews.columns.sort_values()

Index(['beer_abv', 'beer_beerid', 'beer_name', 'beer_style', 'brewery_id',
       'review_appearance', 'review_aroma', 'review_overall', 'review_palate',
       'review_profilename', 'review_taste', 'review_text', 'review_time'],
      dtype='object')

In [30]:
matched_beer_reviews.columns.sort_values() == matched_beer_text_reviews.columns.sort_values()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [31]:
for k,v in matched_beer_reviews.dtypes.to_dict().items():
    print(f"Column '{k}' is the same: {matched_beer_text_reviews.dtypes.to_dict()[k] == v}")

Column 'brewery_id' is the same: True
Column 'review_time' is the same: True
Column 'review_overall' is the same: True
Column 'review_aroma' is the same: True
Column 'review_appearance' is the same: True
Column 'review_profilename' is the same: True
Column 'beer_style' is the same: True
Column 'review_palate' is the same: True
Column 'review_taste' is the same: True
Column 'beer_name' is the same: True
Column 'beer_abv' is the same: True
Column 'beer_beerid' is the same: True
Column 'review_text' is the same: True

Then I can concatenate these together and remove duplicates.

In [32]:
combined_reviews = pd.concat([matched_beer_reviews, matched_beer_text_reviews], sort=True)

In [33]:
deduped_reviews = combined_reviews.drop_duplicates()

In [34]:
deduped_reviews.shape

(1175164, 13)

In [35]:
deduped_reviews.isnull().sum()

beer_abv              0
beer_beerid           0
beer_name             0
beer_style            0
brewery_id            0
review_appearance     0
review_aroma          0
review_overall        0
review_palate         0
review_profilename    0
review_taste          0
review_text           0
review_time           0
dtype: int64

In [36]:
deduped_reviews.reset_index(inplace=True)

We are going to:

- Modify the types of some of the columns so that importing into my database is a bit easier

- Remove unnecessary columns

- Export to CSV

In [37]:
# https://stackoverflow.com/a/16134561/2548452
deduped_reviews[['review_appearance','review_aroma','review_overall','review_palate','review_taste']] = deduped_reviews[['review_appearance','review_aroma','review_overall','review_palate','review_taste']].astype(float)
deduped_reviews[['review_time','beer_beerid']] = deduped_reviews[['review_time','beer_beerid']].astype(int)

In [43]:
deduped_reviews[
    ["beer_name", 
     "review_appearance",
     "review_aroma",
     "review_overall",
     "review_palate",
     "review_profilename",
     "review_taste",
     "review_text",
     "review_time"]].to_csv("../datasets/matched_reviews.csv", index=False)

1539311801.2194269